<?xml version="1.0" encoding="UTF-8"?>
<thing:thing-descriptions bindingId="matter"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:thing="https://openhab.org/schemas/thing-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/thing-description/v1.0.0 https://openhab.org/schemas/thing-description-1.0.0.xsd">

{{#each clusters}}
<!-- {{name}} Cluster -->

{{#each children}}
{{#if (isDepreciated this)}}
{{else}}
{{#if access}}
{{#if (isAttribute this)}}
<!-- {{name}} --> <!--
	<channel-type id="{{asLowerCase ../name}}_{{asLowerCase name}}">
		<item-type>Number</item-type>
		<label>{{name}}</label>
		<description>{{details}}</description>
        <state readOnly="{{isReadOnly this}}"></state>
	</channel-type>-->

{{/if}}
{{/if}}
{{/if}}
{{/each}}

{{/each}}
</thing:thing-descriptions>